<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <table cellspacing="0" cellpadding="0" border="0"
        style="color:#333;background:#fff;padding:0;margin:0;width:100%;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica">
        <tbody>
            <tr width="100%">
                <td valign="top" align="left"
                    style="background:#eef0f1;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica">
                    <table style="border:none;padding:0 18px;margin:50px auto;width:500px">
                        <tbody>
                            <tr width="100%" height="60">
                                <td valign="top" align="left"
                                    style="border-top-left-radius:4px;border-top-right-radius:4px;background:#f2f2f2 bottom left repeat-x;padding:10px 18px;text-align:center">
                                    <img height="60" width="165"
                                        src="https://ci4.googleusercontent.com/proxy/V7nzk41WamkU90bk0L3vGwn906UIFLhbFMtlartBrXoq9d6hERCYcR7CDgoIEj-EONpqPgFDL6ApsYMPluxE=s0-d-e1-ft#https://productlistgenie.com/images/logo.png"
                                        title="Product List Genie"
                                        style="font-weight:bold;font-size:18px;color:#fff;vertical-align:top"
                                        class="CToWUd"> </td>
                            </tr>
                            <tr width="100%">
                                <td valign="top" align="left" style="background:#fff;padding:18px">

                                    <h1 style="font-size:20px;margin:16px 0;color:#333;text-align:center">
                                        Let's collaborate! </h1>
                                    <p
                                        style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;color:#333;text-align:center">
                                        {{email_staff}}, you are invited to join the staff organization: </p>
                                    <div style="background:#f6f7f8;border-radius:3px">
                                        <br>
                                        <p style="text-align:center"> <a href="#"
                                                style="color:#306f9c;font:26px/1.25em 'Helvetica Neue',Arial,Helvetica;text-decoration:none;font-weight:bold"
                                                target="_blank">{{master_name}}</a> </p>
                                        <p
                                            style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;margin-bottom:0;text-align:center">
                                            <a href="https://app.productlistgenie.io/accept-invite?invites=true&mid={{master_id}}&sid={{email_staff}}&memail={{master_name}}"
                                                style="border-radius:3px;background:#3aa54c;color:#fff;display:block;font-weight:700;font-size:16px;line-height:1.25em;margin:24px auto 6px;padding:10px 18px;text-decoration:none;width:180px"
                                                target="_blank"> Accept Invite</a> </p>
                                        <br><br>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>